<div style="text-align: center; margin-top: 2rem; margin-bottom: 50px;">
  <a href="https://scholar.google.com/citations?user=9RNlRpAAAAAJ" target="_blank" title="Google Scholar">
    <img src="{{ '/assets/gscholar_50_2.gif' | relative_url }}" alt="Google Scholar"
         width="50" height="50" style="margin: 0 10px;">
  </a>
  <a href="https://github.com/lailaep" target="_blank" title="GitHub">
    <img src="{{ '/assets/octocat_50.gif' | relative_url }}" alt="GitHub"
         width="50" height="50" style="margin: 0 10px;">
  </a>
  <a href="https://lailaephillips.bsky.social" target="_blank" title="Bluesky">
    <img src="{{ '/assets/bsky_50.gif' | relative_url }}" alt="Bluesky"
         width="50" height="50" style="margin: 0 10px;">
  </a>
</div>

