<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    {% include custom-head.html %}
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>

  <body class="{{ page.classes }}">

    {% include header.html %}
    {% include navigation.html %}

    <main id="content" class="site-content">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>
</html>

